@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Poppins:wght@200;300;400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  color: rgb(131, 67, 204);
  font-style: bold;
  font-size: 35px;
}

p {
  font-size: 15px;
  color: rgba(46, 46, 46, 0.938);
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.element-form {
  margin-left: 4%;
  margin-right: 2%;
  width: 400px;
}

a {
  text-decoration: none;
  color: rgb(131, 67, 204);
}

.formulario {
  font-weight: bold;
  font-size: 15px;
  color: rgba(46, 46, 46, 0.938);
}

.list {
  margin-top: -3%;
  columns: 2;
  margin-left: -5%;
  color: rgba(46, 46, 46, 0.938);
}

.requirements {
  margin-top: -3%;
}

.box2 {
  width: 100%;
  height: 30px;
  margin-bottom: 5%;
  border-color: rgba(160, 160, 160, 0.432);
}

.str-footer {
  font-size: 13px;
  margin-top: 5%;
}

.required {
  font-size: 15px;
}

#icon {
  text-align: right;
  font-size: 15px;
}

.button {
  font-size: 15px;
  background: rgb(115, 57, 168);
  background: linear-gradient(
    90deg,
    rgba(115, 57, 168, 1) 0%,
    rgba(179, 137, 218, 1) 100%
  );
  color: white;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin-top: 15px;
  border: none;
}

.button:hover {
  background: rgb(115, 57, 168);
  cursor: pointer;
}

.login {
  margin-top: -15px;
}

ul {
  list-style-type: none;
}

li:before {
  content: '✔️';
  margin-left: -12%;
  font-size: 13px;
}

.floating {
  float: right;
  margin: 0;
  font-size: 15px;
  color: rgb(131, 67, 204);
  font-weight: bold;
}

.sign-up {
  margin-left: 2%;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}
